*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 60% 1fr;
    color: #696969;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.side{
    background-color: #0D3340;
}

.side img{
    width: 40%;
}

.side p{
    color: #DDFDFF;
    max-width: 500px;
    letter-spacing: 1px;
    line-height: 1.8em;
    margin-bottom: 40px;
}

.side p.main-msg{
    color: #AFF8FD;
    font-size: 5em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.title{
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    color: #343434;
}

.separator{
    width: 150px;
    height: 4px;
    background-color: #04052e;
    margin: 24px;
}

.welcome-msg{
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 20px;
}

form{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.form-control{
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input, button{
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input{
    width: 100%;
    background: #c6c6c6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

input ~i{
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}

input:focus ~i{
    color: #125469;
}

button.action{
    color:#FFFFFF;
    padding: 14px 64px;
    margin: 32px auto;
    background-image: linear-gradient(135deg, #205b6e, #0D3340);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    cursor: pointer;
    transform: quality 0.4s;
}

button.action:hover{
    opacity: 0.9;
}

.login{
    position: absolute;
    bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button{
    margin-left: 16px;
    background: none;
    color: #0D3340;
    border-bottom: 2px solid;
    border-radius: 0;
    padding: 4px;
    cursor: pointer;
    font-weight: 400;
}

.login button a{
    text-decoration: none;
}

/*Responsiveness*/
@media(max-width: 780px){
    body{
        grid-template-columns: 1fr;
    }

    .side{
        display: none;
    }
}