*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 64px 60px 64px;
    font-size: 1.2em;
    z-index: 2;
}

.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 0.5px;
    color: #273469;
}

.logo img{
    width: 40px;
    margin-right: 8px;
}

.menu-list li{
    list-style: none;
    display: inline-block;
    margin-left: 44px;
    cursor: pointer;
    transition: color 0.5s;
    font-weight: 500;
}


.menu-list li.active, .menu-list li:hover{
    color: #7661ac;
}

nav ul li a{
    text-decoration: none;
    color: #777;
}



body{
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
    background: #eee;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-container{
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 0 30px 5px rgba(0,0,0, 0.15);
    cursor: pointer;
}

.img-container, .body-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img{
    width: 100%;
}

.body-container{
    position: relative;
}

.overlay{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay{
    opacity: 1;
    height: 150px;
}

.event-info{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title, .price{
    color: #1E2749;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info{
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator{
    width: 20%;
    height: 6px;
    background-color: #30343F;
    margin-bottom: 16px;
}

.additional-info{
    border-top: 1px solid #BBB;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info{
    font-size: 0.75em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #273469;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span{
    color: #7661ac;
    font-weight: 600;
}

.action{
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(139, 76, 202, 0.2);
}

/*Footer*/
footer{
    width: 100%;
    background-color: #04052e;
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot-1{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 40px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid;
}

.title-footer{
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

p, li{
    font-size: 0.85em;
    line-height: 22px;
    cursor: pointer;
}

ul{
    list-style: none;
}

li:hover{
    color: #4824a0;
}

.foot-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials a{
    text-decoration: none;
    margin: 8px;
    background-color: #777;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}